*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: japanesefont;
    src: url(../fonts/japanese/Japanese.ttf);
}
@font-face {
    font-family: stylejapanesefont;
    src: url(../fonts/japan_rich/JapanRich-Regular.ttf);
}
@font-face {
    font-family: stylejapanesefont2;
    src: url(../fonts/old_japanese/Old\ Japanese.otf);
}