*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: japonesefont;
    src: url(../fonts/japanese/Japanese.ttf);
}
@font-face {
    font-family: stylejaponesefont;
    src: url(../fonts/japan_rich/JapanRich-Regular.ttf);
}